.selected {
    color: white;
    /* margin: 1em;
    padding: 1em; */
    background-color: rgba(1, 61, 77, 0.8);
    border-radius: 0 1em 0 1em;
    z-index: 2000;
    overflow: scroll;
    max-width: 90%;
    height:5em;
    padding:1em;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: left;
    justify-content: space-evenly;


}

.forecast{
    display:flex;
    flex-direction: row;
    align-items: center;
    padding: 1em;
}

.popup-content{
    display:flex;
    align-items: center;
    justify-content: space-evenly;
    max-height: 1em;
    margin:1em;
    width:100%;
}

.close-button{
    margin: 1em;
    color:red;

}

.popup-name{
    font-size: 2em;
    height: auto;
    text-align: Center;
    width: 100%;
}

.snow-by-day{
    display: flex;
    color:red;
    flex-direction: row;
    /* padding: 1em; */
}

.sf-day{
    color:white;
    padding: 0 1em 0 1em;
    font-size: 1em;

}

.sf-total{
    color:white;
    padding: 0 1em 0 1em;
    text-align: center;
    font-size: 1.5em;
    vertical-align: baseline;
}

.sf-column{
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.weather-icon{
    background-image: url('../../images/snowy-6.svg');
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height:3em;
    color:none;
    margin-top: -.5em;
}

.forecast-logo{
    background-image: url('../../images/powchase-logo.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    height:20em;
    margin-right:2em;
    color:red;
}


@media only screen and (max-width: 700px) {
  .popup-name{
    font-size: 1em;
    height: auto;
    text-align: left;
    }
  .selected {
    color: white;
    /* margin: 1em;
    padding: 1em; */
    border-radius: 0    ;
    height:3em;
    /* overflow: scroll; */
    width:auto;
    /* height:auto; */
    /* padding:1em; */
    display: flex;
    padding: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: left;
}
.sf-column{
    width:1.2em;
    margin:1em;
}

.popup-content{
    display:flex;
    flex-direction: column;
    align-items: center;
    max-height: 1em;

}

.forecast{
    display:flex;
    flex-direction: column;
    align-items: center;
    padding: none;
    height:1em;
    width:100%;
}

.close-btn{
    float:right;
    color: white;

}
.sf-day{

    font-size: .5em;

}

.close-button{
    display: inline;
    float:right;


}

}